### Import your libraries

In [1]:
import pandas as pd 
import numpy as np
import seaborn as sns
import plotly.express as px
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings("ignore")

### Load your dataset

In [2]:
df = pd.read_csv('HR_Missing_Values.csv')
df

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

### Explore your data 

* First 5 recods.
* Last 5 records. 
* Check data types.
* Show statistical summary.
* Is there any missing values?
* Applay two more data analysis from your choose.

In [3]:
df.head()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
0,"Adinolfi, Wilson K",10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0
1,"Ait Sidi, Karthikeyan",10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0
2,"Akinkuolie, Sarah",10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0
3,"Alagbe,Trina",10088,64991.0,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
4,NaN,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0

In [4]:
df.tail()

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
306,"Woodson, Jason",10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0
307,"Ybarra, Catherine",10301,48513.0,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,NaN,10010,220450.0,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0
309,"Zhou, Julia",10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN
310,NaN,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_Name      218 non-null    object
 1   EmpID              311 non-null    int64
 2   Salary             249 non-null    float64
 3   PositionID         311 non-null    int64
 4   Position           311 non-null    object
 5   DOB                280 non-null    object
 6   Sex                249 non-null    object
 7   MaritalDesc        311 non-null    object
 8   RaceDesc           311 non-null    object
 9   DateofHire         311 non-null    object
 10  DateofTermination  104 non-null    object
 11  Department         311 non-null    object
 12  ManagerName        311 non-null    object
 13  ManagerID          303 non-null    float64
 14  RecruitmentSource  311 non-null    object
 15  Absences           280 non-null    float64
dtypes: float64(3), int64(2), object(11)
memory usage: 39.0+ KB

In [6]:
df.describe()

              EmpID         Salary  PositionID   ManagerID    Absences
count    311.000000     249.000000  311.000000  303.000000  280.000000
mean   10156.000000   67972.662651   16.845659   14.570957   10.128571
std       89.922189   22995.908395    6.223419    8.078306    5.946407
min    10001.000000   45046.000000    1.000000    1.000000    1.000000
25%    10078.500000   55315.000000   18.000000   10.000000    4.750000
50%    10156.000000   62957.000000   19.000000   15.000000   10.000000
75%    10233.500000   71707.000000   20.000000   19.000000   15.250000
max    10311.000000  220450.000000   30.000000   39.000000   20.000000

In [7]:
df.isnull().sum()

Employee_Name         93
EmpID                  0
Salary                62
PositionID             0
Position               0
DOB                   31
Sex                   62
MaritalDesc            0
RaceDesc               0
DateofHire             0
DateofTermination    207
Department             0
ManagerName            0
ManagerID              8
RecruitmentSource      0
Absences              31
dtype: int64

In [8]:
df.columns

Index(['Employee_Name', 'EmpID', 'Salary', 'PositionID', 'Position', 'DOB',
       'Sex', 'MaritalDesc', 'RaceDesc', 'DateofHire', 'DateofTermination',
       'Department', 'ManagerName', 'ManagerID', 'RecruitmentSource',
       'Absences'],
      dtype='object')

In [9]:
df.shape

(311, 16)

### Do the following steps for each column with missing values.
* Identity the column.
* How much precentage the missing value represents?
* What is the best way to handle these missing values and why?
* Apply your method to the column.

- âœ… Employee_Name
- âœ… Salary
- âœ… DOB
- âœ… Sex
- âœ… DateofTermination
- âœ… ManagerID
- âœ… Absences

#### Employee_Name Column:

In [10]:
df['Employee_Name'].isnull().sum()

93

In [11]:
(df['Employee_Name'].isnull().sum()/311)*100

29.903536977491964

In [12]:
df['Employee_Name'] = df['Employee_Name'].fillna(df['EmpID'])

In [13]:
df['Employee_Name'].isnull().sum()

0

#### Salary Column:

In [14]:
df['Salary'].isnull().sum()

62

In [15]:
(df['Salary'].isnull().sum()/311)*100

19.935691318327976

In [16]:
df[df['Salary'].isna()]

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
9,10250,10250,NaN,14,IT Support,01/07/88,NaN,Divorced,White,1/5/2015,NaN,IT/IS,Peter Monroe,7.0,Indeed,16.0
10,"Baczenski, Rachael",10252,NaN,19,Production Technician I,01/12/74,F,Married,Black or African American,1/10/2011,1/12/2017,Production,David Stanley,14.0,Diversity Job Fair,12.0
19,10277,10277,NaN,19,Production Technician I,04/06/79,M,Single,Asian,7/8/2013,NaN,Production,Webster Butler,NaN,LinkedIn,NaN
20,10046,10046,NaN,19,Production Technician I,12/22/70,M,Single,White,4/2/2012,NaN,Production,Amy Dunn,11.0,Google Search,13.0
22,10003,10003,NaN,19,Production Technician I,09/01/89,F,Married,White,7/7/2014,NaN,Production,Brannon Miller,12.0,Indeed,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
289,"Veera, Abdellah",10014,NaN,19,Production Technician I,01/31/87,M,Divorced,White,8/13/2012,2/5/2016,Production,Kissy Sullivan,20.0,LinkedIn,15.0
290,"Vega, Vincent",10144,NaN,17,Production Manager,10/10/68,M,Divorced,White,8/1/2011,NaN,Production,Janet King,2.0,Employee Referral,19.0
292,"Voldemort, Lord",10118,NaN,8,Database Administrator,08/07/86,M,Married,Black or African American,2/16/2015,2/22/2017,IT/IS,Simon Roup,4.0,Employee Referral,9.0
294,"Von Massenbach, Anna",10183,NaN,19,Production Technician I,NaN,F,Single,White,7/5/2015,NaN,Production,Michael Albert,22.0,LinkedIn,7.0
298,10172,10172,NaN,22,Senior BI Developer,07/08/81,M,Single,Asian,2/15/2017,NaN,IT/IS,Brian Champaigne,13.0,Indeed,17.0

In [17]:
df.groupby(['Position','Sex'])['Salary'].mean()

Position                      Sex
Accountant I                  F       63000.000000
                              M       63761.500000
Administrative Assistant      F       52280.000000
Area Sales Manager            F       64190.125000
                              M       64131.166667
BI Developer                  F       95920.000000
                              M       93460.000000
CIO                           F      220450.000000
Data Analyst                  F       89587.500000
                              M       89199.750000
Data Analyst                  M                NaN
Data Architect                F                NaN
Database Administrator        F      114800.000000
                              M                NaN
Director of Operations        M      170500.000000
Enterprise Architect          M                NaN
IT Director                   M      178000.000000
IT Manager - DB               M                NaN
IT Manager - Support          M      138888.000000
IT Support                    F       51777.000000
                              M       71678.500000
Network Engineer              F       51674.500000
                              M       68225.333333
President & CEO               F                NaN
Principal Data Architect      F      120000.000000
Production Manager            F       74799.600000
                              M       74014.600000
Production Technician I       F       55321.900000
                              M       53938.818182
Production Technician II      F       65295.464286
                              M       64318.272727
Sales Manager                 F       65729.000000
                              M       72992.000000
Senior BI Developer           F       81584.000000
                              M                NaN
Shared Services Manager       M                NaN
Software Engineer             F       97608.200000
                              M       97588.666667
Software Engineering Manager  M       77692.000000
Sr. Accountant                F      102859.000000
Sr. DBA                       M      104437.000000
Sr. Network Engineer          F       96127.000000
                              M       90385.500000
Name: Salary, dtype: float64

In [18]:
for i in range(len(df)):
    if df.isnull().iloc[i, 2] :
        df['Salary'][i] = df.groupby(['Position','Sex'])['Salary'].transform(lambda x: x.fillna(x.mean()))

In [19]:
df['Salary'].isnull().sum()

17

In [20]:
for i in range(len(df)):
    if df.isnull().iloc[i, 2] :
        df['Salary'][i] = df['Salary'].mean()

In [21]:
df['Salary'].isnull().sum()

0

#### DOB Column:

In [22]:
df['DOB'].isnull().sum()

31

In [23]:
(df['DOB'].isnull().sum()/311)*100

9.967845659163988

In [24]:
df[df['DOB'].isna()]

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences
3,"Alagbe,Trina",10088,64991.000000,19,Production Technician I,NaN,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0
42,"Champaigne, Brian",10108,110929.000000,5,BI Director,NaN,NaN,Married,White,9/6/2016,NaN,IT/IS,Jennifer Zamora,5.0,Indeed,8.0
69,10310,10310,53189.000000,19,Production Technician I,NaN,M,Married,White,7/7/2014,NaN,Production,Amy Dunn,11.0,Indeed,9.0
84,"Estremera, Miguel",10280,60340.000000,19,Production Technician I,NaN,NaN,Single,White,4/2/2012,9/27/2018,Production,Michael Albert,22.0,Google Search,16.0
92,"Fidelia, Libby",10049,58530.000000,19,Production Technician I,NaN,F,Married,White,1/9/2012,NaN,Production,Brannon Miller,12.0,Google Search,19.0
96,10015,10015,178000.000000,12,IT Director,NaN,M,Single,Black or African American,4/15/2011,NaN,IT/IS,Jennifer Zamora,5.0,Indeed,15.0
97,"Foster-Baker, Amy",10080,99351.000000,26,Sr. Accountant,NaN,F,Married,White,1/5/2009,NaN,Admin Offices,Board of Directors,9.0,Other,3.0
107,"Givens, Myriam",10255,61555.000000,3,Area Sales Manager,NaN,F,Single,White,2/16/2015,NaN,Sales,Lynn Daneault,21.0,Indeed,20.0
112,"Gonzalez, Juan",10300,68898.000000,20,Production Technician II,NaN,M,Married,Black or African American,4/26/2010,5/30/2011,Production,Brannon Miller,12.0,Diversity Job Fair,10.0
119,10059,10059,63813.000000,19,Production Technician I,NaN,NaN,Divorced,White,2/21/2011,1/11/2014,Production,Kelley Spirea,18.0,CareerBuilder,17.0
127,"Hendrickson, Trina",10075,68099.000000,20,Production Technician II,NaN,F,Single,White,1/10/2011,6/18/2013,Production,Kelley Spirea,18.0,CareerBuilder,15.0
139,10227,10227,61242.000000,19,Production Technician I,NaN,F,Single,Black or African American,11/5/2012,NaN,Production,David Stanley,14.0,LinkedIn,NaN
157,"Landa, Hans",10092,82758.000000,18,Production Manager,NaN,M,Married,White,1/10/2011,12/12/2015,Production,Janet King,2.0,Employee Referral,9.0
160,"LaRotonda, William",10038,64520.000000,1,Accountant I,NaN,M,Divorced,Black or African American,1/6/2014,NaN,Admin Offices,Brandon R. LeBlanc,1.0,Website,3.0
174,"Lynch, Lindsay",10004,47434.000000,19,Production Technician I,NaN,F,Single,Black or African American,11/7/2011,11/14/2015,Production,Webster Butler,39.0,Diversity Job Fair,17.0
184,"McKinzie, Jac",10202,63291.000000,3,Area Sales Manager,NaN,M,Married,Two or more races,7/6/2016,NaN,Sales,Lynn Daneault,21.0,Website,7.0
185,10128,10128,62659.000000,19,Production Technician I,NaN,NaN,Single,Black or African American,4/2/2012,11/11/2016,Production,Kelley Spirea,18.0,Diversity Job Fair,NaN
206,"Oliver, Brooke",10078,71966.000000,20,Production Technician II,NaN,F,Married,Asian,5/14/2012,8/19/2013,Production,Webster Butler,39.0,LinkedIn,17.0
208,"Osturnka, Adeel",10021,47414.000000,19,Production Technician I,NaN,M,Married,White,9/30/2013,NaN,Production,Kelley Spirea,18.0,LinkedIn,13.0
216,"Perry, Shakira",10171,45998.000000,19,Production Technician I,NaN,NaN,Single,White,5/16/2011,10/25/2015,Production,Amy Dunn,11.0,LinkedIn,5.0
224,"Power, Morissa",10187,46799.000000,19,Production Technician I,NaN,F,Divorced,Asian,5/16/2011,6/4/2018,Production,Kissy Sullivan,20.0,Google Search,14.0
240,10086,10086,66929.810447,7,Data Architect,NaN,F,Single,Black or African American,1/7/2017,NaN,IT/IS,Brian Champaigne,13.0,Indeed,17.0
244,10222,10222,66929.810447,13,IT Manager - DB,NaN,M,Divorced,Black or African American,1/9/2012,11/4/2015,IT/IS,Jennifer Zamora,5.0,Diversity Job Fair,8.0
246,"Saar-Beckles, Melinda",10295,47750.000000,19,Production Technician I,NaN,F,Single,Black or African American,7/4/2016,NaN,Production,Kelley Spirea,18.0,Diversity Job Fair,4.0
247,"Sadki, Nore",10260,46428.000000,19,Production Technician I,NaN,M,Single,White,1/5/2009,7/30/2018,Production,Michael Albert,22.0,Google Search,7.0
248,"Sahoo, Adil",10233,57975.000000,20,Production Technician II,NaN,M,Married,White,8/30/2010,NaN,Production,Kelley Spirea,18.0,CareerBuilder,13.0
255,10039,10039,51920.000000,2,Administrative Assistant,NaN,F,Single,White,5/1/2015,NaN,Admin Offices,Brandon R. LeBlanc,1.0,Website,NaN
294,"Von Massenbach, Anna",10183,55321.900000,19,Production Technician I,NaN,F,Single,White,7/5/2015,NaN,Production,Michael Albert,22.0,LinkedIn,7.0
305,"Wolk, Hang T",10174,60446.000000,20,Production Technician II,NaN,F,Single,White,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,NaN
307,"Ybarra, Catherine",10301,48513.000000,19,Production Technician I,NaN,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0
308,10010,10010,220450.000000,6,CIO,NaN,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0

In [25]:
df['DOB'] = df['DOB'].fillna(df['DOB'].mode()[0])

In [26]:
df['DOB'].isnull().sum()

0

#### Sex Column:

In [27]:
df['Sex'].isnull().sum()

62

In [28]:
(df['Sex'].isnull().sum()/311)*100

19.935691318327976

In [29]:
import re

In [30]:
df['Employee_Name'] = df['Employee_Name'].astype(str) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Employee_Name      311 non-null    object
 1   EmpID              311 non-null    int64
 2   Salary             311 non-null    float64
 3   PositionID         311 non-null    int64
 4   Position           311 non-null    object
 5   DOB                311 non-null    object
 6   Sex                249 non-null    object
 7   MaritalDesc        311 non-null    object
 8   RaceDesc           311 non-null    object
 9   DateofHire         311 non-null    object
 10  DateofTermination  104 non-null    object
 11  Department         311 non-null    object
 12  ManagerName        311 non-null    object
 13  ManagerID          303 non-null    float64
 14  RecruitmentSource  311 non-null    object
 15  Absences           280 non-null    float64
dtypes: float64(3), int64(2), object(11)
memory usage: 39.0+ KB

In [31]:
for i in range(len(df)):
    df['Employee_Name'][i] = re.sub(",", " ", df['Employee_Name'][i])

In [32]:
df.loc[df['Employee_Name'].str.split().str.len() <= 3, 
       'Employee_First_Name'] = df['Employee_Name'].str.split().str[-1]
df

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences,Employee_First_Name
0,Adinolfi Wilson K,10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0,K
1,Ait Sidi Karthikeyan,10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0,Karthikeyan
2,Akinkuolie Sarah,10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0,Sarah
3,Alagbe Trina,10088,64991.0,19,Production Technician I,06/14/87,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0,Trina
4,10069,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0,10069
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,Woodson Jason,10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0,Jason
307,Ybarra Catherine,10301,48513.0,19,Production Technician I,06/14/87,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0,Catherine
308,10010,10010,220450.0,6,CIO,06/14/87,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0,10010
309,Zhou Julia,10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN,Julia
310,10271,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0,10271

In [33]:
import gender_guesser.detector as gender

In [34]:
df['gender'] = ''

In [35]:
for i in range(len(df)):
    df['gender'][i] = gender.Detector().get_gender(df['Employee_First_Name'][i])
df

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences,Employee_First_Name,gender
0,Adinolfi Wilson K,10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0,K,unknown
1,Ait Sidi Karthikeyan,10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0,Karthikeyan,unknown
2,Akinkuolie Sarah,10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0,Sarah,female
3,Alagbe Trina,10088,64991.0,19,Production Technician I,06/14/87,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0,Trina,female
4,10069,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0,10069,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,Woodson Jason,10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0,Jason,male
307,Ybarra Catherine,10301,48513.0,19,Production Technician I,06/14/87,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0,Catherine,female
308,10010,10010,220450.0,6,CIO,06/14/87,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0,10010,unknown
309,Zhou Julia,10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN,Julia,female
310,10271,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0,10271,unknown

In [36]:
df[df['Sex'].isna()]

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences,Employee_First_Name,gender
9,10250,10250,66929.810447,14,IT Support,01/07/88,NaN,Divorced,White,1/5/2015,NaN,IT/IS,Peter Monroe,7.0,Indeed,16.0,10250,unknown
15,Bates Norman,10061,57834.000000,19,Production Technician I,10/18/81,NaN,Single,White,2/21/2011,8/4/2017,Production,Kelley Spirea,18.0,Google Search,20.0,Norman,male
16,Beak Kimberly,10023,70131.000000,20,Production Technician II,04/17/66,NaN,Married,White,7/21/2016,NaN,Production,Kelley Spirea,18.0,Employee Referral,16.0,Kimberly,mostly_female
18,10245,10245,110000.000000,8,Database Administrator,04/04/86,NaN,Single,White,7/7/2014,9/12/2015,IT/IS,Simon Roup,4.0,Google Search,8.0,10245,unknown
27,Bozzi Charles,10175,74312.000000,18,Production Manager,03/10/70,NaN,Single,Asian,9/30/2013,8/7/2014,Production,Janet King,2.0,Indeed,14.0,Charles,male
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
288,Valentin Jackie,10205,57859.000000,3,Area Sales Manager,05/23/91,NaN,Married,Two or more races,7/5/2011,NaN,Sales,John Smith,17.0,Indeed,16.0,Jackie,andy
291,Villanueva Noah,10253,55875.000000,3,Area Sales Manager,07/11/89,NaN,Single,Asian,3/5/2012,NaN,Sales,John Smith,17.0,Website,11.0,Noah,male
293,Volk Colleen,10022,49773.000000,19,Production Technician I,06/03/86,NaN,Married,White,9/26/2011,2/8/2016,Production,Kelley Spirea,18.0,Google Search,18.0,Colleen,female
300,Whittier Scott,10072,58371.000000,19,Production Technician I,05/24/87,NaN,Single,White,1/10/2011,5/15/2014,Production,Webster Butler,39.0,LinkedIn,11.0,Scott,male
303,Williams Jacquelyn,10264,59728.000000,19,Production Technician I,10/02/69,NaN,Single,Black or African American,1/9/2012,6/27/2015,Production,Ketsia Liebig,19.0,Diversity Job Fair,16.0,Jacquelyn,female

In [37]:
df['Sex'] = df['Sex'].astype(str) 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 311 entries, 0 to 310
Data columns (total 18 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Employee_Name        311 non-null    object
 1   EmpID                311 non-null    int64
 2   Salary               311 non-null    float64
 3   PositionID           311 non-null    int64
 4   Position             311 non-null    object
 5   DOB                  311 non-null    object
 6   Sex                  311 non-null    object
 7   MaritalDesc          311 non-null    object
 8   RaceDesc             311 non-null    object
 9   DateofHire           311 non-null    object
 10  DateofTermination    104 non-null    object
 11  Department           311 non-null    object
 12  ManagerName          311 non-null    object
 13  ManagerID            303 non-null    float64
 14  RecruitmentSource    311 non-null    object
 15  Absences             280 non-null    float64
 16  Employee_First_Name  311 non-null    object
 17  gender               311 non-null    object
dtypes: float64(3), int64(2), object(13)
memory usage: 43.9+ KB

In [38]:
for i in range(len(df)):
    if df['Sex'][i] == 'M':
        continue 
    elif df['gender'][i] == 'F':
        continue
    else: 
        if df['gender'][i] == 'male' :
            df['Sex'][i] = 'M'
        elif df['gender'][i] == 'mostly_male':
            df['Sex'][i] = 'M'
        elif df['gender'][i] == 'female':
            df['Sex'][i] = 'F'
        elif df['gender'][i] == 'mostly_female':
            df['Sex'][i] = 'F'
        else:
            continue   
df

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences,Employee_First_Name,gender
0,Adinolfi Wilson K,10026,62506.0,19,Production Technician I,07/10/83,M,Single,White,7/5/2011,NaN,Production,Michael Albert,22.0,LinkedIn,1.0,K,unknown
1,Ait Sidi Karthikeyan,10084,104437.0,27,Sr. DBA,05/05/75,M,Married,White,3/30/2015,6/16/2016,IT/IS,Simon Roup,4.0,Indeed,17.0,Karthikeyan,unknown
2,Akinkuolie Sarah,10196,64955.0,20,Production Technician II,09/19/88,F,Married,White,7/5/2011,9/24/2012,Production,Kissy Sullivan,20.0,LinkedIn,3.0,Sarah,female
3,Alagbe Trina,10088,64991.0,19,Production Technician I,06/14/87,F,Married,White,1/7/2008,NaN,Production,Elijiah Gray,16.0,Indeed,15.0,Trina,female
4,10069,10069,50825.0,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0,10069,unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
306,Woodson Jason,10135,65893.0,20,Production Technician II,05/11/85,M,Single,White,7/7/2014,NaN,Production,Kissy Sullivan,20.0,LinkedIn,13.0,Jason,male
307,Ybarra Catherine,10301,48513.0,19,Production Technician I,06/14/87,F,Single,Asian,9/2/2008,9/29/2015,Production,Brannon Miller,12.0,Google Search,4.0,Catherine,female
308,10010,10010,220450.0,6,CIO,06/14/87,F,Single,White,4/10/2010,NaN,IT/IS,Janet King,2.0,Employee Referral,16.0,10010,unknown
309,Zhou Julia,10043,89292.0,9,Data Analyst,02/24/79,F,Single,White,3/30/2015,NaN,IT/IS,Simon Roup,4.0,Employee Referral,NaN,Julia,female
310,10271,10271,45046.0,19,Production Technician I,08/17/78,F,Widowed,Asian,9/29/2014,NaN,Production,David Stanley,14.0,LinkedIn,2.0,10271,unknown

In [39]:
df['Sex'].isnull().sum()

0

In [40]:
df['Sex'] = df['Sex'].str.strip()
df.Sex.unique()

array(['M', 'F', 'nan'], dtype=object)

In [41]:
for i in range(len(df)):
    if df['Sex'][i] == 'nan':
        df['Sex'][i] = df['Sex'].mode()[0]

In [42]:
df.Sex.unique()

array(['M', 'F'], dtype=object)

#### DateofTermination Column:

In [43]:
df['DateofTermination'].isnull().sum()

207

In [44]:
(df['DateofTermination'].isnull().sum()/311)*100

66.55948553054662

In [45]:
df['DateofTermination'] = df['DateofTermination'].fillna('still working')

In [46]:
df['DateofTermination'].isnull().sum()

0

#### ManagerID Column:

In [47]:
df['ManagerID'].isnull().sum()

8

In [48]:
(df['ManagerID'].isnull().sum()/311)*100

2.572347266881029

In [49]:
# Display all the null rows

df[df['ManagerID'].isna()]

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences,Employee_First_Name,gender
19,10277,10277,53938.818182,19,Production Technician I,04/06/79,M,Single,Asian,7/8/2013,still working,Production,Webster Butler,NaN,LinkedIn,NaN,10277,unknown
30,Buccheri Joseph,10184,65288.000000,20,Production Technician II,07/28/83,M,Single,White,9/29/2014,still working,Production,Webster Butler,NaN,Google Search,NaN,Joseph,male
44,Chang Donovan E,10154,66929.810447,19,Production Technician I,08/24/83,F,Single,White,7/8/2013,still working,Production,Webster Butler,NaN,LinkedIn,4.0,E,unknown
88,Fancett Nicole,10136,65902.000000,20,Production Technician II,09/27/87,F,Single,Black or African American,2/17/2014,still working,Production,Webster Butler,NaN,LinkedIn,7.0,Nicole,female
135,10214,10214,64995.000000,20,Production Technician II,05/07/92,F,Separated,White,6/5/2015,still working,Production,Webster Butler,NaN,Indeed,6.0,10214,unknown
177,Manchester Robyn,10077,62385.000000,20,Production Technician II,08/25/76,F,Married,White,5/11/2016,still working,Production,Webster Butler,NaN,LinkedIn,NaN,Robyn,female
232,Rivera Haley,10011,46738.000000,19,Production Technician I,01/12/73,F,Married,Asian,11/28/2011,still working,Production,Webster Butler,NaN,Google Search,16.0,Haley,female
251,Sewkumar Nori,10071,50923.000000,19,Production Technician I,03/10/75,F,Single,Asian,9/30/2013,still working,Production,Webster Butler,NaN,Google Search,14.0,Nori,mostly_female

In [50]:
# Find the ManagerID by ManagerName

df.loc[df['ManagerName']=='Webster Butler']

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences,Employee_First_Name,gender
4,10069,10069,50825.000000,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0,10069,unknown
19,10277,10277,53938.818182,19,Production Technician I,04/06/79,M,Single,Asian,7/8/2013,still working,Production,Webster Butler,NaN,LinkedIn,NaN,10277,unknown
30,Buccheri Joseph,10184,65288.000000,20,Production Technician II,07/28/83,M,Single,White,9/29/2014,still working,Production,Webster Butler,NaN,Google Search,NaN,Joseph,male
44,Chang Donovan E,10154,66929.810447,19,Production Technician I,08/24/83,F,Single,White,7/8/2013,still working,Production,Webster Butler,NaN,LinkedIn,4.0,E,unknown
65,10070,10070,55722.000000,19,Production Technician I,10/31/77,M,Married,White,5/16/2011,6/8/2016,Production,Webster Butler,39.0,Indeed,14.0,10070,unknown
88,Fancett Nicole,10136,65902.000000,20,Production Technician II,09/27/87,F,Single,Black or African American,2/17/2014,still working,Production,Webster Butler,NaN,LinkedIn,7.0,Nicole,female
89,Ferguson Susan,10189,57748.000000,19,Production Technician I,04/14/55,F,Married,White,11/7/2011,5/17/2016,Production,Webster Butler,39.0,Google Search,16.0,Susan,female
105,10283,10283,54933.000000,19,Production Technician I,08/09/74,F,Married,Black or African American,4/2/2012,6/25/2015,Production,Webster Butler,39.0,Diversity Job Fair,15.0,10283,unknown
124,Harrington Christie,10097,52177.000000,19,Production Technician I,08/18/52,F,Single,White,1/9/2012,12/15/2015,Production,Webster Butler,39.0,CareerBuilder,8.0,Christie,mostly_female
135,10214,10214,64995.000000,20,Production Technician II,05/07/92,F,Separated,White,6/5/2015,still working,Production,Webster Butler,NaN,Indeed,6.0,10214,unknown
151,Kinsella Kathleen,10166,54005.000000,19,Production Technician I,12/08/73,F,Married,White,9/26/2011,6/4/2015,Production,Webster Butler,39.0,Google Search,16.0,Kathleen,female
174,Lynch Lindsay,10004,47434.000000,19,Production Technician I,06/14/87,F,Single,Black or African American,11/7/2011,11/14/2015,Production,Webster Butler,39.0,Diversity Job Fair,17.0,Lindsay,mostly_female
177,Manchester Robyn,10077,62385.000000,20,Production Technician II,08/25/76,F,Married,White,5/11/2016,still working,Production,Webster Butler,NaN,LinkedIn,NaN,Robyn,female
198,Ndzi Colombui,10215,53938.818182,19,Production Technician I,05/02/89,M,Single,Black or African American,9/26/2011,4/4/2014,Production,Webster Butler,39.0,Diversity Job Fair,19.0,Colombui,unknown
206,Oliver Brooke,10078,71966.000000,20,Production Technician II,06/14/87,F,Married,Asian,5/14/2012,8/19/2013,Production,Webster Butler,39.0,LinkedIn,17.0,Brooke,female
214,Smith Martin,10286,53564.000000,19,Production Technician I,03/17/88,M,Single,Black or African American,1/10/2011,12/28/2017,Production,Webster Butler,39.0,Google Search,15.0,Martin,male
232,Rivera Haley,10011,46738.000000,19,Production Technician I,01/12/73,F,Married,Asian,11/28/2011,still working,Production,Webster Butler,NaN,Google Search,16.0,Haley,female
251,Sewkumar Nori,10071,50923.000000,19,Production Technician I,03/10/75,F,Single,Asian,9/30/2013,still working,Production,Webster Butler,NaN,Google Search,14.0,Nori,mostly_female
276,Tavares Desiree,10221,66929.810447,19,Production Technician I,04/03/75,F,Married,Black or African American,4/27/2009,4/1/2013,Production,Webster Butler,39.0,Diversity Job Fair,11.0,Desiree,female
280,10268,10268,64318.272727,20,Production Technician II,09/16/75,M,Widowed,White,6/25/2007,8/30/2010,Production,Webster Butler,39.0,Other,15.0,10268,unknown
300,Whittier Scott,10072,58371.000000,19,Production Technician I,05/24/87,M,Single,White,1/10/2011,5/15/2014,Production,Webster Butler,39.0,LinkedIn,11.0,Scott,male

In [51]:
# Fill all the null with the 39 which is the ManagerID

df['ManagerID'] = df['ManagerID'].fillna(39)

In [52]:
df.loc[df['ManagerName']=='Webster Butler']

,Employee_Name,EmpID,Salary,PositionID,Position,DOB,Sex,MaritalDesc,RaceDesc,DateofHire,DateofTermination,Department,ManagerName,ManagerID,RecruitmentSource,Absences,Employee_First_Name,gender
4,10069,10069,50825.000000,19,Production Technician I,09/08/89,F,Divorced,White,7/11/2011,9/6/2016,Production,Webster Butler,39.0,Google Search,2.0,10069,unknown
19,10277,10277,53938.818182,19,Production Technician I,04/06/79,M,Single,Asian,7/8/2013,still working,Production,Webster Butler,39.0,LinkedIn,NaN,10277,unknown
30,Buccheri Joseph,10184,65288.000000,20,Production Technician II,07/28/83,M,Single,White,9/29/2014,still working,Production,Webster Butler,39.0,Google Search,NaN,Joseph,male
44,Chang Donovan E,10154,66929.810447,19,Production Technician I,08/24/83,F,Single,White,7/8/2013,still working,Production,Webster Butler,39.0,LinkedIn,4.0,E,unknown
65,10070,10070,55722.000000,19,Production Technician I,10/31/77,M,Married,White,5/16/2011,6/8/2016,Production,Webster Butler,39.0,Indeed,14.0,10070,unknown
88,Fancett Nicole,10136,65902.000000,20,Production Technician II,09/27/87,F,Single,Black or African American,2/17/2014,still working,Production,Webster Butler,39.0,LinkedIn,7.0,Nicole,female
89,Ferguson Susan,10189,57748.000000,19,Production Technician I,04/14/55,F,Married,White,11/7/2011,5/17/2016,Production,Webster Butler,39.0,Google Search,16.0,Susan,female
105,10283,10283,54933.000000,19,Production Technician I,08/09/74,F,Married,Black or African American,4/2/2012,6/25/2015,Production,Webster Butler,39.0,Diversity Job Fair,15.0,10283,unknown
124,Harrington Christie,10097,52177.000000,19,Production Technician I,08/18/52,F,Single,White,1/9/2012,12/15/2015,Production,Webster Butler,39.0,CareerBuilder,8.0,Christie,mostly_female
135,10214,10214,64995.000000,20,Production Technician II,05/07/92,F,Separated,White,6/5/2015,still working,Production,Webster Butler,39.0,Indeed,6.0,10214,unknown
151,Kinsella Kathleen,10166,54005.000000,19,Production Technician I,12/08/73,F,Married,White,9/26/2011,6/4/2015,Production,Webster Butler,39.0,Google Search,16.0,Kathleen,female
174,Lynch Lindsay,10004,47434.000000,19,Production Technician I,06/14/87,F,Single,Black or African American,11/7/2011,11/14/2015,Production,Webster Butler,39.0,Diversity Job Fair,17.0,Lindsay,mostly_female
177,Manchester Robyn,10077,62385.000000,20,Production Technician II,08/25/76,F,Married,White,5/11/2016,still working,Production,Webster Butler,39.0,LinkedIn,NaN,Robyn,female
198,Ndzi Colombui,10215,53938.818182,19,Production Technician I,05/02/89,M,Single,Black or African American,9/26/2011,4/4/2014,Production,Webster Butler,39.0,Diversity Job Fair,19.0,Colombui,unknown
206,Oliver Brooke,10078,71966.000000,20,Production Technician II,06/14/87,F,Married,Asian,5/14/2012,8/19/2013,Production,Webster Butler,39.0,LinkedIn,17.0,Brooke,female
214,Smith Martin,10286,53564.000000,19,Production Technician I,03/17/88,M,Single,Black or African American,1/10/2011,12/28/2017,Production,Webster Butler,39.0,Google Search,15.0,Martin,male
232,Rivera Haley,10011,46738.000000,19,Production Technician I,01/12/73,F,Married,Asian,11/28/2011,still working,Production,Webster Butler,39.0,Google Search,16.0,Haley,female
251,Sewkumar Nori,10071,50923.000000,19,Production Technician I,03/10/75,F,Single,Asian,9/30/2013,still working,Production,Webster Butler,39.0,Google Search,14.0,Nori,mostly_female
276,Tavares Desiree,10221,66929.810447,19,Production Technician I,04/03/75,F,Married,Black or African American,4/27/2009,4/1/2013,Production,Webster Butler,39.0,Diversity Job Fair,11.0,Desiree,female
280,10268,10268,64318.272727,20,Production Technician II,09/16/75,M,Widowed,White,6/25/2007,8/30/2010,Production,Webster Butler,39.0,Other,15.0,10268,unknown
300,Whittier Scott,10072,58371.000000,19,Production Technician I,05/24/87,M,Single,White,1/10/2011,5/15/2014,Production,Webster Butler,39.0,LinkedIn,11.0,Scott,male

In [53]:
df['ManagerID'].isnull().sum()

0

#### Absences Column:

In [54]:
df['Absences'].isnull().sum()

31

In [55]:
(df['Absences'].isnull().sum()/311)*100

9.967845659163988

In [56]:
df.Absences.unique()

array([ 1., 17.,  3., 15.,  2., 19.,  4., 16., 12.,  9.,  7., 20.,  8.,
       nan, 13.,  5., 14.,  6., 11., 10., 18.])

In [57]:
# Since ther is no zeros I assum that nan means that there is no absences so null will be 0
df['Absences'] = df['Absences'].fillna(0)

In [58]:
df['Absences'].isnull().sum()

0

### Is there any missing values left?

In [59]:
df.isnull().sum()

Employee_Name          0
EmpID                  0
Salary                 0
PositionID             0
Position               0
DOB                    0
Sex                    0
MaritalDesc            0
RaceDesc               0
DateofHire             0
DateofTermination      0
Department             0
ManagerName            0
ManagerID              0
RecruitmentSource      0
Absences               0
Employee_First_Name    0
gender                 0
dtype: int64